use_commit_messages: true
check_vulnerabilities: true
check_dependencies_licenses: false
add_artifacts: true
add_mkdocs_site: true
pylint_threshold: 8.0
license_label: 'apache-2.0'
allowed_licenses: ['mit', 'apache-2.0', 'lgpl-3.0', 
 'bsd-3-clause', 'bsd-2-clause', '-', 'mpl-2.0']
gh_pages_base_url: https://kiril-mordan.github.io/adaptive-reusables
source_repo_url: https://github.com/Kiril-Mordan/adaptive-reusables
source_repo_name: adaptive-reusables